<nav>
  <ul>
    <li><a <%= 'class="activo"' if current_page.path.eql?('index.html') %> href="index.html">Home</a></li>
    <li><a <%= 'class="activo"' if current_page.path.eql?('about.html') %> href="about.html">Nosotros</a></li>
    <li><a <%= 'class="activo"' if current_page.path.eql?('schedule.html') %> href="schedule.html">Horarios</a></li>
    <li><a <%= 'class="activo"' if current_page.path.eql?('activities.html') %> href="activities.html">Actividades</a></li>
    <li><a <%= 'class="activo"' if current_page.path.eql?('subscribe.html') %> href="subscribe.html">Suscribirse</a></li>
  </ul>
</nav>
