---
title: Horarios
---

<section>
  <h2>Horarios</h2>

  <table border="1">
    <caption>Lunes, Miércoles y Viernes</caption>
    <thead>
      <th>Hora</th>
      <th>Actividad</th>
      <th>Espacio</th>
      <th>Profesor</th>
    </thead>
    <tbody>
      <% csv_data('lunes_miercoles_viernes.csv').each do |row| %>
      <tr>
        <td><%= row[:hora] %></td>
        <td><%= row[:actividad] %></td>
        <td><%= row[:espacio] %></td>
        <td><%= row[:profesor] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table border="1">
    <caption>Martes y Jueves</caption>
    <thead>
      <th>Hora</th>
      <th>Actividad</th>
      <th>Espacio</th>
      <th>Profesor</th>
    </thead>
    <tbody>
      <% csv_data('martes_jueves.csv').each do |row| %>
      <tr>
        <td><%= row[:hora] %></td>
        <td><%= row[:actividad] %></td>
        <td><%= row[:espacio] %></td>
        <td><%= row[:profesor] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table border="1">
    <caption>Sábado</caption>
    <thead>
      <th>Hora</th>
      <th>Actividad</th>
      <th>Espacio</th>
      <th>Profesor</th>
    </thead>
    <tbody>
      <% csv_data('sabado.csv').each do |row| %>
      <tr>
        <td><%= row[:hora] %></td>
        <td><%= row[:actividad] %></td>
        <td><%= row[:espacio] %></td>
        <td><%= row[:profesor] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table border="1">
    <caption>Domingo</caption>
    <thead>
      <th>Hora</th>
      <th>Actividad</th>
      <th>Espacio</th>
      <th>Profesor</th>
    </thead>
    <tbody>
      <% csv_data('domingo.csv').each do |row| %>
      <tr>
        <td><%= row[:hora] %></td>
        <td><%= row[:actividad] %></td>
        <td><%= row[:espacio] %></td>
        <td><%= row[:profesor] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
